img {
  position: sticky;
  width: 25%;
  top: 0%;
  display: inline-block;
  margin: 1%;
}
.edit-container {
  position: relative;
}
.edit {
  font-size: 1.2vw;
  float: left;
  margin: 3%;
}

.with-image img {
  position: sticky;
  margin-top: 0%;

  top: 4%;
  height: 60%;
  width: 25%;
  object-fit: contain;
  z-index: -1;
}
.with-image h2 {
  margin-top: 4%;
  font-size: 1.2vw;
  margin-top: 1%;
}
hr {
  margin-top: 0px;
}
